body {
  font-family: sans-serif;
}

div.wrapper {
  display: flex;
  border: 1px solid blue;
  flex-direction: column;
}

div.wrapper > h2 {
  align-self: center;
}

#post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

div.add-commnent-wrapper {
  display: flex;
  margin: 10px;
  flex-direction: column;
  gap: 5px;
}

div.add-commnent-wrapper > textarea {
  height: 100px;
  resize: none;
  overflow: scroll;
}

div.comment-section-wrapper {
  margin: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.comment-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  outline: 1px solid rosybrown;
}

div.comment-action-container {
  display: flex;
  gap: 20px;
  margin: 5px 10px;
}

div.comment-action-container > span {
  font-size: 10px;
  color: royalblue;
  cursor: pointer;
}

div.reply-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  outline: 1px solid rebeccapurple;
  margin-left: 20px;
}

p.author-comment {
  margin: 0 2px;
  font-size: 14px;
}
span.author-name {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

div.comment-button-container {
  display: flex;
  gap: 10px;
}
